@import './styles/map';
@import './styles/nav';
@import './styles/overrides';

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1 0 auto;
  }
}

.btn {
  > i {
    margin-right: 4px;
  }
}
