nav.navbar .navbar-nav .nav-pills .nav-link {
  cursor: pointer;
}
nav.navbar .navbar-nav .nav-pills .nav-link.active {
  color: #fff;
}

:root {
  --bs-border-radius: 0;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app-wrap main {
  flex: 1 0 auto;
}

.btn > i {
  margin-right: 4px;
}
